<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Descrição breve e relevante sobre o conteúdo da página.">
</head>

<body>

  <app-navbar></app-navbar>

  <main>
    <div class="main-container">

      <div class="header-termos">
        <div class="caixa-texto">
          <h2>Termos</h2>
          <p>Qual termo gostaria de acessar hoje?</p>

        </div>
        <button class="botao-adicionar">+   Adicionar turma</button>
      </div>

      <div class="grid-termos">
        <div class="termo-box termo-1">1º Termo</div>
        <div class="termo-box termo-2">2º Termo</div>
        <div class="termo-box termo-3">3º Termo</div>
        <div class="termo-box termo-4">4º Termo</div>
        <div class="termo-box termo-5">5º Termo</div>
        <div class="termo-box termo-6">6º Termo</div>
      </div>
    </div>
  </main>

</body>

</html>
