<body>

  <main>
    <article>
      <!-- <h2>Guia Completo de CSS Grid</h2>
      <p>Aprenda a usar CSS Grid para layouts complexos...</p> -->
      <div class="div-img-login"></div>
    </article>

    <aside>
      <div class="login-superior">
        <div class="img-bolsa"></div>
        <h3>Guia do Mochileiro
          Fatecano</h3>
      </div>
      <div class="login-centro">
        <form action="">
            <label for="">E-mail</label>
            <input type="email" >
            <label for="">Senha</label>
            <input type="senha">
        </form>
        <button>Entrar</button>
      </div>
      <div class="login-inferior">
        <p>Ainda não possui conta?</p><p routerLink="/register" style="color: #21BC6B;">Cadastrar</p>
      </div>
    </aside>

  </main>

</body>
