<body>

  <main>
    <article>
      <!-- <h2>Guia Completo de CSS Grid</h2>
      <p>Aprenda a usar CSS Grid para layouts complexos...</p> -->
      <div class="div-img-login"></div>
    </article>

    <aside>
      <div class="login-superior">
        <div class="img-bolsa"></div>
        <div class="caixa-titulo-login">
          <h3>Guia do Mochileiro
            Fatecano</h3>
        </div>
      </div>
      <div class="login-centro">
        <form action="">
          <label for="e-mail">E-mail</label>
          <input type="password" id="password" placeholder="Digite seu e-mail">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Digite sua senha">
        </form>
        <button><p class="texto-botao" routerLink="/home">Entrar</p></button>
      </div>
      <div class="login-inferior">
        <p>Ainda não possui conta? </p>
        <p routerLink="/register" style="color: #21BC6B;"> Cadastrar-se</p>
      </div>
    </aside>

  </main>

</body>
