<nav class="nav-bar">
  <div class="logo">
    <div class="img-bolsa"></div>
    <p>Guia do mochileiro Fatecano</p>
  </div>
  <div class="corpo-nav-bar">
    <a href="#"><img [src]="iconPaths.home" alt="Ícone Home" class="nav-icon"> Home</a>
    <a href="#"><img [src]="iconPaths.notificacao" alt="Ícone Notificações" class="nav-icon"> Notificações</a>
    <a href="#"><img [src]="iconPaths.materias" alt="Ícone Matérias" class="nav-icon"> Matérias</a>
    <a href="#"><img [src]="iconPaths.valores" alt="Ícone Valores" class="nav-icon"> Valores</a>
    <a href="#" routerLink="/"><img [src]="iconPaths.sair" alt="Ícone Sair" class="nav-icon"> Sair</a>
</div>

</nav>
