<body>

  <main>
    <article>
      <div class="div-img-login"></div>
    </article>

    <aside>
      <div class="login-superior">

        <div class="caixa-titulo-login">
          <h3>Cadastrar-se</h3>
        </div>
      </div>
      <div class="login-centro">
        <form action="">
          <label for="nome">Nome</label>
          <input type="password" id="password">
          <label for="e-mail">E-mail</label>
          <input type="password" id="password">
          <label for="password">Senha</label>
          <input type="password" id="password" >
          <label for="password">Confirmação da senha</label>
          <input type="password" id="password" >
        </form>
        <button><p class="texto-botao"  routerLink="/home">Cadastrar</p></button>
      </div>
      <div class="login-inferior">
        <p>Possui conta? </p>
        <p routerLink="/" style="color: #21BC6B;"> Entrar</p>
      </div>
    </aside>

  </main>

</body>
